#header {
    background-color: #1B262C;
    position: relative;
}

#inter {
    background-color: #0F4C75;
}

#contact {
    background-color: #3282B8;
}

#footer {
    background-color: #BBE1FA;
}

.name {
    font-family: "Unbounded";
    font-size: larger;
}

.big {
    font-size: 50px;
}

.diff {
    color: #0073E6;
}

p {
    color: ghostwhite;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.gridcontainer {
    display: grid;
    grid-template-columns: 100px 1em 1fr;
    grid-template-rows: 100px 100px;
}

.skill {
    border-radius: 50%;
    height: 100px;
    width: 100px;
}

.skillinfo {
    display: flex;
    grid-column-start: 3;
    align-items: center;
    font-size: large;
}

.button-19 {
    appearance: button;
    background-color: #1899D6;
    border: solid transparent;
    border-radius: 16px;
    border-width: 0 0 4px;
    box-sizing: border-box;
    color: #FFFFFF;
    cursor: pointer;
    display: inline-block;
    font-family: din-round, sans-serif;
    font-size: 15px;
    font-weight: 700;
    letter-spacing: .8px;
    line-height: 20px;
    margin: 0;
    outline: none;
    overflow: visible;
    padding: 13px 16px;
    text-align: center;
    text-transform: uppercase;
    touch-action: manipulation;
    transform: translateZ(0);
    transition: filter .2s;
    user-select: none;
    -webkit-user-select: none;
    vertical-align: middle;
    white-space: nowrap;
}